<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template_layout/layout.html">
<head>
    <meta charset="UTF-8">
    <title>Patient List</title>
</head>
<body>
<div layout:fragment="content">
    <div class="p-3 text-center mt-3">
        <div class="card">
            <div class="card-header text text-primary"><h2>Welcome to Our App</h2></div>
            <div class="card-body">
                <p class="text-black fs-3">Welcome to our Hospital Management App! Our modern and user-friendly platform is designed to streamline patient management within your hospital. With our intuitive system, you can easily track medical records, appointments, and treatments. Simplify your daily operations, enhance patient experience, and optimize your processes with our cutting-edge application. Join us today for smoother and more secure medical care!</p>
            </div>

        </div>
    </div>
</div>
</body>
</html>